html {
    font-family: sans-serif;
}

body {
    font-family: Helvetica,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.top-bar {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 40px;
    line-height: 35px;
    padding: 0;
    position: relative;
    z-index: 102;
}

.body-top-bar {
    height: 59px;
    line-height: 54px;
}

.nav-menu {
    display: inline-block;
    float: left;
    position: relative;
    white-space: nowrap;
}

.nav-menu {
    margin-left: 128px;
}

.menu-item {
    display: inline-block;
    height: 59px;
    line-height: 54px;
}

.menu-item a {
    text-decoration: none;
    color: #777;
    margin: 0px 8px;
    padding: 0px 8px;
    font-size: small;
    line-height: 54px;
    height: 59px;
}

.menu-item a:hover {
    color: #222;
}

.menu-item a.active {
    color: #dd4b39;
    font-weight: bold;
    border: none;
}

.active {
    border-bottom: 3px solid #dd4b39;
    color: #dd4b39;
    font-weight: bold;
    margin: 2px 8px 0;
    height: 54px;
}

.search-results {
    height: 43px;
    background: white;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.results-bar {
    line-height: 43px;
    margin-left: 120px;
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
}

.results-bar span {
    color: #808080;
    font-size: small;
}


ul {
    list-style: none;
    padding: 0px;
}

.search-container {
    max-width: 1250px;
}

.search-container-results {
    margin-left: 138px;
    width: 528px;
}

.container-list {
    margin: 0px;
}

.list-results {
    margin-bottom: 23px;
}

.search-link {
    color: #006621;
    font-size: 14px;
}

.search-link a{

}

.search-link-content {
    line-height: 1.4;
    word-wrap: break-word;
    color: #545454;
    font-size: small;
}

em {
    font-weight: bold;
    font-style: normal;
}

.alt-links {

}

.alt-links a {
    color: #1a0dab;
    font-size: small;
    text-decoration: none;
}
.alt-links a:hover {
    text-decoration: underline;
}

.container-results h3 {
    padding: 0px;
    margin: 0px;
    font-weight: 18px;
}

.container-results h3 a{
    text-decoration: none;
    color: #1a0dab;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
}

.container-results h3 a:hover{
    text-decoration: underline;
}

a {
    cursor: pointer;
}
