<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <form class="" action="/create" method="post">
                    <ul>
                        <li>
                            <label for="">Party Name</label>
                            <input type="text" name="name" placeholder="party name">
                        </li>
                        <li>
                            <label for="">Party Description</label>
                            <input type="text" name="description" placeholder="party description">
                        </li>
                        <li>
                            <label for="">Party Time</label>
                            <input type="date" name="date_time" placeholder="party time">
                        </li>
                    </ul>
                    <button type="submit"> Create New Party</button>
                </form>
            </div>
        </div>
    </div>
</div>
