<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <form action="/<%= @party.id %>/update" method="post">
                    <ul>
                        <li>
                            <label for="">Party Name</label>
                            <input type="text" name="name" value="<%= @party.name %>" placeholder="party name">
                        </li>
                        <li>
                            <label for="">Party Description</label>
                            <input type="text" name="description" value="<%= @party.description %>" placeholder="party description">
                        </li>
                        <li>
                            <label for="">Party Time</label>
                            <input type="text" name="date_time" value="<%= @party.date_time %>" placeholder="party time">
                        </li>
                    </ul>
                    <button type="submit">Edit Party</button>
                </form>
            </div>
        </div>
    </div>
</div>
