<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="row">
                    <form action="/" method="get">
                        <div class="col-md-6">
                            <input type="text" name="search" placeholder="search for a party">
                            <button type="submit">Find</button>
                        </div>
                    </form>
                </div>
                <ul>
                    <% @parties.each do |party|%>
                        <li>
                            <span><%= party.name%></span> - <span><%= party.description%></span> - <span><%= party.date_time%></span>
                            <a href="/<%= party.id %>">View Party</a>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-md-6">
                <a href="/new">New Party</a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form action="/" method="get">
                        <input type="submit" name="sort" value="ascend">
                        <input type="submit" name="sort" value="descend">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
        <div class="col-md-12">
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
