<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <ul>
                    <li><%= @party.name %></li>
                    <li><%= @party.description %></li>
                    <li><%= @party.date_time %></li>
                </ul>
                <a href="/<%= @party.id %>/edit">Edit PArty</a>
            </div>
        </div>
    </div>
</div>
