<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/update/<%= @product.id %>" method="post">
                <ul>
                    <li>
                        <label for="name">Name</label>
                        <input type="text" name="name" value="<%= @product.name %>">
                    </li>
                    <li>
                        <label for="price">Price</label>
                        <input type="text" name="price" value="<%= @product.price %>">
                    </li>
                    <li>
                        <label for="brand">Brand</label>
                        <input type="text" name="brand" value="<%= @product.brand %>">
                    </li>
                </ul>
                <button type="submit" name="button">Edit product</button>
            </form>
        </div>
    </div>
</div>
